<app-header></app-header>
<app-navig></app-navig>

<body>


<section>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1 class="page-header">Albums</h1>
        <ul class="photos gallery-parent">
          <li><a href="\assets\img\parc-m.jpg"  data-toggle="lightbox" data-gallery="mygallery" data-parent=".gallery-parent" data-hover="tooltip" ><img src="\assets\img\parc-m.jpg" height="156" width="114"></a></li>
          <li><a href="\assets\img\mosque.jpg"  data-gallery="mygallery" data-parent=".gallery-parent" data-hover="tooltip" ><img src="\assets\img\mosque.jpg" height="156" width="114"></a></li>
          <li><a href="\assets\img\rabat.jpg"   data-gallery="mygallery" data-parent=".gallery-parent" data-hover="tooltip" ><img src="\assets\img\rabat.jpg" height="156" width="114"></a></li>
          <li><a href="\assets\img\medina.jpg"   data-gallery="mygallery" data-parent=".gallery-parent" data-hover="tooltip" ><img src="\assets\img\medina.jpg" height="156" width="114"></a></li>
          <li><a href="\assets\img\desert.jpg"   data-gallery="mygallery" data-parent=".gallery-parent" data-hover="tooltip" ><img src="\assets\img\desert.jpg" height="156" width="114"></a></li>
          <li><a href="\assets\img\desert2.jpg"   data-gallery="mygallery" data-parent=".gallery-parent" data-hover="tooltip" ><img src="\assets\img\desert2.jpg" height="156" width="114"></a></li>
          <li><a href="\assets\img\blue-m.jpg"   data-gallery="mygallery" data-parent=".gallery-parent" data-hover="tooltip" ><img src="\assets\img\blue-m.jpg" height="156" width="114" ></a></li>
          <li><a href="\assets\img\beach-m.jpg"   data-gallery="mygallery" data-parent=".gallery-parent" data-hover="tooltip" ><img src="\assets\img\beach-m.jpg" height="156" width="114"></a></li>
          <li><a href="\assets\img\camping.jpg"   data-gallery="mygallery" data-parent=".gallery-parent" data-hover="tooltip" ><img src="\assets\img\camping.jpg" height="156" width="114"></a></li>
          <li><a href="\assets\img\camping-m.jpg"   data-gallery="mygallery" data-parent=".gallery-parent" data-hover="tooltip" ><img src="\assets\img\camping-m.jpg"height="156" width="114"></a></li>
          <li><a href="\assets\img\camping1.jpg"  data-toggle="lightbox" data-gallery="mygallery" data-parent=".gallery-parent" data-hover="tooltip" ><img src="\assets\img\camping1.jpg" height="156" width="114"></a></li>
          <li><a href="\assets\img\camping2.jpg"  data-toggle="lightbox" data-gallery="mygallery" data-parent=".gallery-parent" data-hover="tooltip" ><img src="\assets\img\camping2.jpg" height="156" width="114"></a></li>
          <li><a href="\assets\img\mykonos.jpg"  data-toggle="lightbox" data-gallery="mygallery" data-parent=".gallery-parent" data-hover="tooltip" ><img src="\assets\img\mykonos.jpg" height="156" width="114"></a></li>
          <li><a href="\assets\img\mykonos4.jpg"  data-toggle="lightbox" data-gallery="mygallery" data-parent=".gallery-parent" data-hover="tooltip" ><img src="\assets\img\mykonos4.jpg" height="156" width="114"></a></li>
          <li><a href="\assets\img\mykonos1.jpg"  data-toggle="lightbox" data-gallery="mygallery" data-parent=".gallery-parent" data-hover="tooltip" ><img src="\assets\img\mykonos1.jpg" height="156" width="114"></a></li>
          <li><a href="\assets\img\mykonos3.jpg"  data-toggle="lightbox" data-gallery="mygallery" data-parent=".gallery-parent" data-hover="tooltip" ><img src="\assets\img\mykonos3.jpg" height="156" width="114"></a></li>
          <li><a href="\assets\img\biz1.jpg"  data-toggle="lightbox" data-gallery="mygallery" data-parent=".gallery-parent" data-hover="tooltip" ><img src="\assets\img\biz1.jpg" height="156" width="114"></a></li>
          <li><a href="\assets\img\biz2.jpg"  data-toggle="lightbox" data-gallery="mygallery" data-parent=".gallery-parent" data-hover="tooltip" ><img src="\assets\img\biz2.jpg" height="156" width="114"></a></li>
          <li><a href="\assets\img\biz3.jpg"  data-toggle="lightbox" data-gallery="mygallery" data-parent=".gallery-parent" data-hover="tooltip" ><img src="\assets\img\biz3.jpg" height="156" width="114"></a></li>
          <li><a href="\assets\img\bi4.jpg"  data-toggle="lightbox" data-gallery="mygallery" data-parent=".gallery-parent" data-hover="tooltip" ><img src="\assets\img\biz4.jpg" height="156" width="114"></a></li>
        </ul>
      </div><!-- col-md-8 end -->

      <app-panel></app-panel>
    </div>
  </div>

</section>
<footer>
  <div class="container">
    <p>Sami's Copyright &copy; 2019, All Rights Reserved</p>

  </div>
</footer>

