<app-header></app-header>
<app-navig></app-navig>

<body>



<section>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="profile">
          <h1 class="page-header">Sami Hammoussi</h1>
          <div class="row">
            <div class="col-md-4">
              <img src="\assets\img\user.png" class="img-thumbnail">
            </div>
            <div class="col-md-8">
              <ul>
                <li><strong>Email Address: </strong>Sami.hammoussi@gmail.com</li>
                <li><strong>City: </strong>Los angeles</li>
                <li><strong>State: </strong>California</li>
                <li><strong>Gender:</strong> Male</li>
                <li><strong>Profession: </strong>Future Web Developer</li>
              </ul>

            </div>
          </div>




          <!-- <div class="row">
             <div class="col-md-12">
               <div class="panel panel-default">
                 <div class="panel-heading">
                   <h3 class="panel-title">My Wall</h3>
                 </div>
                 <div class="panel-body">
                   <form>
                     <div class="form-group">
                       <textarea class="form-control" placeholder="Write on my wall"></textarea>
                     </div>

                     <button type="submit" class="btn btn-default">Submit</button>
                     <div class="pull-right">
                       <div class="btn-group">
                         <button type="button" class="btn btn-default"><i class="fa fa-pencil"></i> Text</button>
                         <button type="button" class="btn btn-default"><i class="fa fa-file-image-o"></i> Image</button>
                         <button type="button" class="btn btn-default"> <i class="fa fa-file-video-o"></i> Video</button>
                       </div>
                     </div>
                   </form>
                 </div>
               </div>
             </div>
           </div>-->
        </div>
      </div><!-- col-md-8 end -->

      <app-panel></app-panel>
    </div>
  </div>

</section>

<footer>
  <div class="container">
    <p>Sami's Copyright &copy; 2019, All Rights Reserved</p>

  </div>
</footer>
