<app-header></app-header>
<app-navig></app-navig>


<body>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="groups">
          <h1 class="page-header">Events</h1>
          <div class="group-item">
            <img src="\assets\img\morocco.jpg" height="100"  >
            <h4><a routerLink="/photos">A trip to Casablanca, Morocco</a><b>  - July 3rd </b></h4>
            <p>Visit of the economic capital of Morocco: the central market,
              the Habous district, the Royal palace, the Mohammed V square,
              the residential area of Anfa and the outside of the Hassan II mosque.</p>
            <p><a class="btn btn-default">Join Event</a></p>
          </div>
          <div class="clearfix"></div>
          <div class="group-item">
            <img src="\assets\img\business.jpg">
            <h4><a routerLink="/photos">Business and Entrepreneurship Conference</a><b>  - July 17th </b></h4>
            <p>Have the chance to hear the great Paul Burton talking about a very valuable lesson: how to sell.</p>
            <p><a class="btn btn-default">Join Event</a></p>
          </div>
          <div class="clearfix"></div>
          <div class="group-item">
            <img src="\assets\img\moviee.jpg">
            <h4><a routerLink="/photos">It's Movie Time ! </a><b>  - July 23rd </b></h4>
            <p>Use your movie passes to watch the new Quentin Tarantino's "Once Upon Time in Hollywood".</p>
            <p><a class="btn btn-default">Join Event</a></p>
          </div>
          <div class="clearfix"></div>
          <div class="group-item">
            <img src="\assets\img\camping.jpg" height="90">
            <h4><a routerLink="/photos">Let's go camping !</a><b>  - August 8th </b></h4>
            <p> Get out of those desks and spend some
              time outdoor and enjoy what nature can provide.Say goodbye to Stress.</p>
            <p><a class="btn btn-default">Join Event</a></p>
          </div>
          <div class="clearfix"></div>
          <div class="group-item">
            <img src="\assets\img\gala.jpg" height="75">
            <h4><a routerLink="/photos">Together we make a difference</a><b>  - August 14th </b></h4>
            <p>Let's think about those kids. Have a part of this Gala dinner and participate in the auction.</p>
            <p><a class="btn btn-default">Join Event</a></p>
          </div>
          <div class="clearfix"></div>
          <div class="group-item">
            <img src="\assets\img\mykonos.jpg" height="90">
            <h4><a routerLink="/photos">Visit the heavenly island of Greece, Mykonos.</a><b>  - September 5th </b></h4>
            <p>Welcome to Greece's most famous cosmopolitan island, a whitewashed paradise in the heart of the Cyclades.</p>
            <p><a  class="btn btn-default">Join Event</a></p>
          </div>
          <div class="clearfix"></div>
        </div>
      </div><!-- col-md-8 end -->

      <app-panel></app-panel>
    </div>
  </div>

</section>

<footer>
  <div class="container">
    <p>Sami's Copyright &copy; 2019, All Rights Reserved</p>

  </div>
</footer>
