<app-header></app-header>
<app-navig></app-navig>



<section>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="members">
          <h1 class="page-header">Members</h1>
          <div class="row member-row">
            <div class="col-md-3">
              <img src="\assets\img\user.png" class="img-thumbnail">
              <div class="text-center">SomeUser01</div>
            </div>
            <div class="col-md-3">
              <p><a  class="btn btn-success btn-block"><i class="fa fa-users"></i> Add Friend</a></p>
            </div>
            <div class="col-md-3">
              <p><a routerLink="/home" class="btn btn-default btn-block"><i class="fa fa-envelope"></i> Send Message</a></p>

            </div>
            <div class="col-md-3">
              <p><a routerLink="/profile" class="btn btn-primary btn-block"><i class="fa fa-edit"></i> View Profile</a></p>

            </div>
          </div>

          <div class="row member-row">
            <div class="col-md-3">
              <img src="\assets\img\user.png" class="img-thumbnail">
              <div class="text-center">SomeUser02</div>
            </div>
            <div class="col-md-3">
              <p><a class="btn btn-success btn-block"><i class="fa fa-users"></i> Add Friend</a></p>
            </div>
            <div class="col-md-3">
              <p><a routerLink="/home" class="btn btn-default btn-block"><i class="fa fa-envelope"></i> Send Message</a></p>

            </div>
            <div class="col-md-3">
              <p><a routerLink="/profile" class="btn btn-primary btn-block"><i class="fa fa-edit"></i> View Profile</a></p>

            </div>
          </div>

          <div class="row member-row">
            <div class="col-md-3">
              <img src="\assets\img\user.png" class="img-thumbnail">
              <div class="text-center">SomeUser03</div>
            </div>
            <div class="col-md-3">
              <p><a class="btn btn-success btn-block"><i class="fa fa-users"></i> Add Friend</a></p>
            </div>
            <div class="col-md-3">
              <p><a routerLink="/home" class="btn btn-default btn-block"><i class="fa fa-envelope"></i> Send Message</a></p>

            </div>
            <div class="col-md-3">
              <p><a routerLink="/profile" class="btn btn-primary btn-block"><i class="fa fa-edit"></i> View Profile</a></p>

            </div>
          </div>

          <div class="row member-row">
            <div class="col-md-3">
              <img src="\assets\img\user.png" class="img-thumbnail">
              <div class="text-center">SomeUser04</div>
            </div>
            <div class="col-md-3">
              <p><a class="btn btn-success btn-block"><i class="fa fa-users"></i> Add Friend</a></p>
            </div>
            <div class="col-md-3">
              <p><a routerLink="/home" class="btn btn-default btn-block"><i class="fa fa-envelope"></i> Send Message</a></p>

            </div>
            <div class="col-md-3">
              <p><a routerLink="/profile" class="btn btn-primary btn-block"><i class="fa fa-edit"></i> View Profile</a></p>

            </div>
          </div>
        </div>
      </div><!-- col-md-8 end -->

      <app-panel></app-panel>
    </div>
  </div>

</section>
<footer>
  <div class="container">
    <p>Sami's Copyright &copy; 2019, All Rights Reserved</p>

  </div>
</footer>
