<div class="col-md-4">
  <div class="panel panel-default friends">
    <div class="panel-heading">
      <h3 class="panel-title">My Friends</h3>
    </div>
    <div class="panel-body">
      <ul>
        <li><a class="thumbnail" routerLink="/profile"><img src="\assets\img\user.png"></a></li>
        <li><a class="thumbnail" routerLink="/profile"><img src="\assets\img\user.png"></a></li>
        <li><a class="thumbnail" routerLink="/profile"><img src="\assets\img\user.png"></a></li>
        <li><a class="thumbnail" routerLink="/profile"><img src="\assets\img\user.png"></a></li>
        <li><a class="thumbnail" routerLink="/profile"><img src="\assets\img\user.png"></a></li>
        <li><a class="thumbnail" routerLink="/profile"><img src="\assets\img\user.png"></a></li>
        <li><a class="thumbnail" routerLink="/profile"><img src="\assets\img\user.png"></a></li>
        <li><a class="thumbnail" routerLink="/profile"><img src="\assets\img\user.png"></a></li>
        <li><a class="thumbnail" routerLink="/profile"><img src="\assets\img\user.png"></a></li>
        <li><a class="thumbnail" routerLink="/profile"><img src="\assets\img\user.png"></a></li>
        <li><a class="thumbnail" routerLink="/profile"><img src="\assets\img\user.png"></a></li>
        <li><a class="thumbnail" routerLink="/profile"><img src="\assets\img\user.png"></a></li>
      </ul>
      <div class="clearfix"></div>
      <a class="btn btn-primary" routerLink="/members" >View All Friends</a>
    </div>
  </div>

  <div class="panel panel-default groups">
    <div class="panel-heading">
      <h3 class="panel-title">Coming Events</h3>
    </div>
    <div class="panel-body">
      <div class="group-item">
        <a routerLink="/photos"><img src="\assets\img\morocco.jpg"></a>
        <h4><a routerLink="/groups">A trip to Casablanca, Morocco</a></h4>
        <p>03/07/2019</p>
      </div>
      <div class="clearfix"></div>
      <div class="group-item">
        <a routerLink="/photos"><img src="\assets\img\mykonos.jpg" height="75"></a>
        <h4><a routerLink="/groups">Visit the heavenly island of Mykonos, Greece.</a></h4>
        <p>17/07/2019</p>
      </div>
      <div class="clearfix"></div>
      <div class="group-item">
        <a routerLink="/photos"><img src="\assets\img\camping.jpg"></a>
        <h4><a routerLink="/groups">Let's go camping ! </a></h4>
        <p>23/07/2019</p>
      </div>
      <div class="clearfix"></div>
      <a class="btn btn-primary" routerLink="/groups" >Have a look at all the events</a>
    </div>
  </div>
</div>
